<div class="header">
<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid navbar-container">
      <a [routerLink]="['']"><img src="../assets/shopPro-logo.png" alt="ShopPro - life in Style" width="145" height="40" class="logo"/></a>
      <ul class="bag-profile">
        <li class="nav-item dropdown" [class.show]="isDropdownOpen" (click)="toggleDropdown()" (mouseenter)="openDropdown(true)" (mouseleave)="openDropdown(false)">
          <a class="nav-link dropdown-toggle" [routerLink]="['']" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>person</mat-icon>
          </a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen">
            <li><a class="dropdown-item" [routerLink]="['wishlist']">My Wishlist</a></li>
            <li><a class="dropdown-item" [routerLink]="['shop']">My Orders</a></li>
            <li><a class="dropdown-item" [routerLink]="['shop']">Admin Panel</a></li>
            <li><a class="dropdown-item" [routerLink]="['shop']">My Account</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['shop']">Login/Register</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cart']">
            <mat-icon matBadge="{{cartItemCount}}" matBadgeSize="medium" matBadgePosition="after" matBadgeColor="warn" matBadgeOverlap="true" aria-hidden="false">shopping_bag</mat-icon>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler hamburger" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span *ngIf="!navbarOpen"><mat-icon>menu</mat-icon></span>
        <span *ngIf="navbarOpen"><mat-icon>close</mat-icon></span>
      </button>
      <div class="collapse navbar-collapse navigation-bar" id="navbarSupportedContent" [class.show]="navbarOpen">
        <form class="d-flex search-container" role="search">
            <input class="form-control me-2" type="search" placeholder="Search ShopPro" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><mat-icon>search</mat-icon></button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" (click)="toggleNavbar()">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item" (click)="toggleNavbar()">
            <a class="nav-link" [routerLink]="['shop']">Shop</a>
          </li>
          <li class="nav-item" (click)="toggleNavbar()">
            <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
