<div class="footer">
  <div class="container">
      <div class="row">
        <div class="col social">
          <img src="../assets/shopPro-logo.png" alt="ShopPro - life in Style" width="145" height="40"/>
          <ul>
              <li>Follow us on</li>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>Youtube</li>
          </ul>
        </div>
        <div class="col perks-con">
          <div class="perks">
            <mat-icon>local_shipping</mat-icon>
            <p>On Time Delivery </p>
          </div>
          <div class="perks">
            <mat-icon>shopping_cart_checkout</mat-icon>
            <p>Secure Checkout</p>
          </div>
          <div class="perks">
            <mat-icon>reply</mat-icon>
            <p>Hassle Free Returns</p> 
          </div>   
        </div>
        <div class="col links">
          <ul>
              <li>Useful Links</li>
              <li>Blog</li>
              <li>Return policy</li>
              <li>Coupons</li>
              <li>Terms & Conditions</li>
              <li>Careers</li>
          </ul>
        </div>
        <div class="col download-app">
          <p>Download App for android and ios mobile phone.</p>
          <img src="../assets/app-store.png" width="140" height="40" />
          <img src="../assets/google-play.png" width="155" height="55" />
          <p class="payment-label">Secured Payment Gateways</p>
          <img src="../assets/visa-mastercard.png" width="200" height="60" />
        </div>
      </div>
  </div>
  <div class="copyright">
    <p>&copy;Copyright 2024, ShopPro. All rights reserved.</p>
  </div>
</div>