.shop-products-container {
    height: 100%;
    width: 100%;
    padding-top: 7rem;
    min-height: 100vh;

    .shop-products-actions {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;

        .sorting {
            padding-bottom: 1.5rem;
            .sort-btn {
                width: 220px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
                background-color: transparent;
                color: black;
                border-color: rgb(167, 163, 163);
            }
            .sort-dropdown {
                cursor: pointer;
                min-width: 13.8rem;

                .dropdown-item {
                    font-size:15px;

                    &:hover, &:focus {
                        background-color:#DB4A2B;
                        color: white;
                    }
                }
            }
        }
    }

    .spinner-visible {
        height: 60vh;
    }
}

.btn{
    border-radius: 0;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}