.shop-products-container {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    min-height: 100vh;

    .shop-products-actions {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
        border: 1px solid grey;

        .sorting {
            .sort-btn {
                width: 200px;///165
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .sort-dropdown {
                cursor: pointer;
            }
        }
    }

    .spinner-visible {
        height: 60vh;
    }
}

.btn{
    border-radius: 0;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}