<div class="product-details">
    <div class="container" *ngIf="product">
        <div class="row">
          <div class="col-12 col-md-6 product-image">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <img [src]="product.path" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img [src]="product.path1" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img [src]="product.path2" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-6 product-deets">
            <div class="product-overview">
              <p>Shop/{{product.category}}</p>
              <h3>{{ product.brand }}</h3>
              <h5>{{ product.title }}</h5>
              <div class="rating-container">
                <ng-container *ngFor="let star of fullStars">
                  <mat-icon>star</mat-icon>
                </ng-container>
                <ng-container *ngIf="halfStar">
                  <mat-icon>star_half</mat-icon>
                </ng-container>
                <ng-container *ngFor="let star of emptyStars">
                  <mat-icon>star_border</mat-icon>
                </ng-container>
              </div>
              <div class="price-details">
                <span class="discounted-price">₹{{ product.discountedPrice }}</span>
                <span class="price">₹{{ product.price }}</span>
                <span class="discount">({{ product.discount }}% OFF)</span>
              </div>
              <p class="tax">inclusive of all taxes</p>
              <div class="colors-available">
                <h6>MORE COLORS</h6>
                <mat-radio-group class="color-radio-group" [(ngModel)]="selectedColor" (change)="onColorChange($event)">
                  <div *ngFor="let color of product.colorsAvailable" class="color-box">
                    <mat-radio-button [value]="color" class="color-radio-button" [ngStyle]="{ '--color': color }">
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
              <div class="sizes-available">
                <h6>SELECT SIZE</h6>
                <div class="size-details">
                  <div class="dropdown" (mouseenter)="toggleSizingDropdown(true)" (mouseleave)="toggleSizingDropdown(false)" [class.show]="isSizeDropdownOpen">
                    <button class="btn btn-secondary dropdown-toggle size-btn" type="button" mid="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Select Size: <b>{{selectedSize}}</b>
                    </button>
                    <ul class="dropdown-menu size-dropdown" aria-labelledby="dropdownMenuButton1" [class.show]="isSizeDropdownOpen">
                        <li *ngFor="let size of product.sizeAvailable" (click)="selectSize(size)">
                            <a class="dropdown-item">{{ size }}</a>
                        </li>
                    </ul>
                  </div>
                  <div class="size-chart">
                    <a (click)="openSizeChart()">Size Chart<mat-icon>info</mat-icon></a>
                  </div>
                </div>
              </div>
              <div class="quantity-container">
                <span>Quantity</span>
                <button class="quantity-button" (click)="decreaseQuantity()">-</button>
                <input type="number" class="quantity-input" [min]="minQuantity" 
                  [max]="maxQuantity" [(ngModel)]="quantity" (ngModelChange)="updateQuantity($event)" />
                <button class="quantity-button" (click)="increaseQuantity()">+</button>
              </div>
              <div class="add-buttons">
                <button class="btn btn-danger" (click)="addToCart($event)">{{addToCartLabel}}<mat-icon>local_mall</mat-icon></button>
                <button class="btn btn-danger" (click)="addToWishlist($event)">{{wishlistLabel}}<mat-icon>favorite</mat-icon></button>
              </div>
              <div class="product-description">
                <h6>DESCRIPTION</h6>
                <span class="rate">
                  <span class="rate-icon">{{ product.ratings }}<mat-icon>star_rate</mat-icon><span>| {{ product.reviewCount }} Ratings</span></span>
                </span>
                <p>{{product.description}}</p>
                <p><b>Material:</b> {{product.material}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
