<div class="products">
    <div class="row product-row">
        <div *ngFor="let product of productData"  class="card product-card">
            <a [routerLink]="['/product-details', product.id]">
                <img [src]="product.path" class="card-img-top" width="264" height="400" [alt]="product.title">
            </a>
            <div class="card-body content">
                <h6 class="card-title">{{ product.brand }}</h6>
                <p>{{ product.title }}</p>
                <div class="price-details">
                    <span class="discounted-price">Rs. {{ product.discountedPrice }}</span>
                    <span class="price">Rs. {{ product.price }}</span>
                    <span class="discount">({{ product.discount }}% OFF)</span>
                </div>
                <button class="btn btn-danger" (click)="addToCart($event, product)">{{product.addToCartLabel}}<mat-icon>local_mall</mat-icon></button>
            </div>
            <div class="card-body content ratings">
                <div class="rate">
                    <span>{{ product.ratings }}<mat-icon>star_rate</mat-icon><span>| {{ product.reviewCount }}</span></span>
                    <span *ngIf="product.popularity > 7">Only Few Left!</span>
                </div>
                <div class="wishlist-add">
                    <mat-icon *ngIf="!product.isAddedToWishlist" (click)="toggleWishlist(product, true)" >favorite_outline</mat-icon>
                    <mat-icon *ngIf="product.isAddedToWishlist" (click)="toggleWishlist(product, false)" >favorite</mat-icon>
                </div>
            </div>
            <div class="card-body content overlay" [routerLink]="['/product-details', product.id]">
            </div>
        </div>
    </div>
    <div class="no-products-found" *ngIf="productData.length === 0">
        <mat-icon>dry_cleaning</mat-icon>
        <p>Oops! We couldn't find any matches!</p>
    </div>
</div>
