<div class="home-container">
    <div class="image-slideshow">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="../assets/home/slideshow-1.jpg" class="d-block w-100 slideshow-img" alt="slide-1">
                <div class="carousel-caption d-md-block slideshow-1">
                  <p class="shop-desc">Find Your Perfect Look with Our Exclusive Women's Fashion!</p>
                  <button class="btn btn-danger btn-responsive" [routerLink]="['shop']" [queryParams]="{ source: 'shop-women' }">Shop For Women</button>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../assets/home/slideshow-2.jpg" class="d-block w-100 slideshow-img" alt="slide-2">
                <div class="carousel-caption d-md-block slideshow-2">
                  <p class="shop-desc">Explore Unique and Trendy Men's Fashion Collections!</p>
                  <button class="btn btn-danger btn-responsive" [routerLink]="['shop']" [queryParams]="{ source: 'shop-men' }">Shop For Men</button>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../assets/home/slideshow-3.jpg" class="d-block w-100 slideshow-img" alt="slide-3">
                <div class="carousel-caption d-md-block slideshow-3">
                  <p>Discover the Latest and Most Exciting Lifestyle and Accessories Collections!</p>
                  <button class="btn btn-danger btn-responsive" [routerLink]="['shop']" [queryParams]="{ source: 'shop-accessories' }">Explore Now</button>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="offer-zone">
      <h1>OFFER ZONE</h1>
      <div class="row">
          <div *ngFor="let offerCard of offerCards" class="card offers">
            <a [routerLink]="[offerCard.link]" [queryParams]="offerCard.queryParams">
              <img [src]="offerCard.imgSrc" class="card-img-top" width="264" height="326" alt="..." />
            </a>
            <div class="card-body content">
              <h5 class="card-title">{{ offerCard.title }}</h5>
              <p class="card-text">{{ offerCard.text }}</p>
              <a [routerLink]="[offerCard.link]" [queryParams]="offerCard.queryParams" class="btn btn-danger">Shop Now</a>
            </div>
          </div>
      </div>
    </div>
    <div class="featured-brands">
      <h1>FEATURED BRANDS</h1>
      <div class="brandnames">
        <div class="brands" *ngFor="let _ of [1, 2]">
          <span *ngFor="let brand of brandNames">{{ brand }}</span>
        </div>
      </div>
      <div class="brand-links">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let logo of logos">
              <a [routerLink]="['shop']" [queryParams]="{ source: logo.name }" class="logo-container">
                <img [src]="logo.imageUrl" class="img-fluid" [alt]="logo.name">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>